body
{
	margin: 0;
	padding: 0; 
	background: #020D17;
	background-size: cover;
}
.shadow
{
	position: relative;
	margin:180px auto 0;
	width: 900px;
	height: 450px;
	background:linear-gradient(0deg,#000,#262626);
}
.shadow:before,
.shadow:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background:linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation:animate 5s linear infinite;
}
.shadow:after
{
	filter: blur(20px);
}
@keyframes animate
{
		0%
	{
		background-position: 0 0;
	}
		60%
	{
		background-position: 100% 0;
	}
		120%
	{
		background-position: 0 0;
	}
(to top left, #01060A 10%, #0030DB 100%);
}
